
﻿<style>
     .auth-link {
         width: 100%;
     }

     .dropdown-toggle::after {
         content: none;
     }
</style>

@inject IAuthService authService

@if (!authService.IsLoggedIn())
{
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle my-auto" data-bs-toggle="dropdown">
            <i class="fas fa-user fa-2x"></i>
            <span class="d-none d-lg-inline-flex">Profile</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
            <a asp-controller="auth" asp-action="login" class="dropdown-item">Login</a>
            <a asp-controller="auth" asp-action="register" class="dropdown-item">Register</a>
        </div>
    </div>
}
else
{
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle my-auto" data-bs-toggle="dropdown">
            <i class="fas fa-user fa-2x"></i>
            <span class="d-none d-lg-inline-flex">@authService.GetFullName(Role.User)</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
            <a href="#" class="dropdown-item">My Profile</a>
            <a href="#" class="dropdown-item">Settings</a>
            <a asp-controller="auth" asp-action="logout" class="dropdown-item">Log Out</a>
        </div>
    </div>
}