
<div class="d-flex justify-content-center mt-5">
<div class="col-sm-12 mt-5" style="width: 800px">
    <div class="bg-secondary rounded h-100 p-4">
            <h3 style="border: 2px; color: red" class="mb-4">Create Category</h3>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control">
            </div>
                <label for="formFile" class="form-label">Current photo</label>

            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input style="cursor: pointer" class="form-control bg-dark" type="file" id="formFile">
            </div>
            <div class="mb-3 form-check">
                <input style="cursor: pointer" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button style="color:black; width: 150px" type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
</div>
