@model LoginDto

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>

    <h1>Login Page</h1>

    <form method="post" action="/login">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="@Model.Password" />
        <br />
        <input type="submit" value="Login" />
    </form>
</body>
</html>

